/* shared common styles*/
body{
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    border-radius: 5px;
    background-color: #FD6E0A;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 12px 25px;
} 
.section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.section-description{
    color: #757575;
    text-align: center;
    font-size: 18px;

}

/* nav releted style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;

}
.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style:none ;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
/* header related style */
.header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    

}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex; 
    align-items: center;
    justify-content: space-between;
}
.banner-content{
    max-width: 500px;
}
.banner .profile-pic{
    width: 500px;
}
.banner-hi{
    font-size: 45px;
    color:#474747 ;
    margin-bottom: 0;
}
.banner-name{
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-description{
    margin-top: 0;
    color: var(--dark-03, #757575);
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
/*main section style*/
main{
   max-width: 1140px;
   margin: 0 auto;
} 
/*main section{
    margin: 130px;
}*/
/*about section style*/
.about{
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0;

}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
    color: #757575;
    font-size: 20px;
    font-weight: 400;
}
#what-i-do{
    margin: 30px 150px;
}
.skills-container{
    display: flex;
    gap: 24px;
}
.skills{
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);

}
.skills-descreption{
    color: #757575;

}
/*resume section style*/
.resume-title{
color: #474747;
font-size: 30px;
font-weight: 700;
}
.resume-container{
    display: flex;
    gap: 50px;
}
.resume-item-description{
    color: #757575;
}
.resume-item-institute{
    color: #757575;
    margin-bottom: 20px;
    margin-top: 0px;
}
.resume-item-title{
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.resume-container hr{
    margin: 30px;
}
.download-cv{
    text-align: center;
    margin-top: 50px;
}
/*footer styles*/
footer{
    display: flex;
    gap: 100px;
    background: #FFF8F3;
    margin-top: 100px;
    padding: 130px 200px;
}
.footer-column{
    width: 50%;
}
.contract input[type="text"], input[type="email"], textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px;
    background: #FFF;
    border:0;
    width: 100%;

}
.social-links a{
   margin-right: 25px;
}